.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  padding: 12px 24px;
}

.left > img {
  height: 64px;
}

.navbar {
  display: flex;
  gap: 8px;
  font-family: "RicknMorty", "Brush Script MT", cursive;
  font-size: 18px;
  transition: 0.3s;
}

.navbar a {
  line-height: 2rem;
  color: inherit;
}

.navbar a:hover {
  scale: 1.1;
}

.navbar a:visited {
  text-decoration: none;
}

.sign_out_button_wrapper {
  display: block;
  margin-left: 16px;
  font-size: 1rem;
  height: 32px;
}

.sign_out_button:hover {
  background-color: #bfde42;
}

.sign_out_button:active {
  scale: 0.99;
}
